@import 'index';

.app {

  .app-content {

    position: absolute;
    left: 5%;

    width: 90%;
    

    .nested {

      min-height: 80vh;

    }

  }

}

.ant-layout-footer {

  background-color: unset;
  color: unset;

  padding: 15px 20px;
  text-align: center;

}