@import '~antd/dist/antd.css';

// variables

// ant gray scale
$white0: #ffffff;
$white1: #fafafa;
$white2: #f5f5f5;
$white3: #f0f0f0;
$black0: #d9d9d9;
$black1: #bfbfbf;
$black2: #8c8c8c;
$black3: #595959;
$black4: #434343;
$black5: #262626;
$black6: #1f1f1f;
$black7: #141414;
$black8: #000000;

// tri chromatic color scheme
$color0: #1890ff;
$color1: #1abc9c;
$color2: #f27935;

$left: 20px;

@mixin base {

  .navigator {

    .menu {

        div {
        
            &.selected {

                border-color: $color0;

                a {
                    color: $color0;
                }
                
            }

        }  

        a {

          &:hover {
                color: $color0;
            }

        }
        
    }

  }

  .button {

    margin: 0px 5px 0px 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;

  }

}

@mixin light-base {

  background-color: $white0;
  color: $black8;

  $outline-color: $black3;

  .piccha {

    background-image: url('https://raw.githubusercontent.com/high-otaku/assets/master/background.png');

    .info {

      background-color: rgba($white0, 0.7);

    }

    h1 {
      
      color: $black8;

    }

  }

  .navigator {
    
    background-color: rgba($white3, 0.7);

    .menu {

        a {
            color: $black6;

        }
        
    }


    .right-pane {

        .logo {

            background-color: $white0;

        }
    }
    
  }
  
  .complete {

    &.false {
      
      color: $black3;

    }

  }

  .button, .social-networks .ant-btn {

    background-color: $white3;
    border-color: $outline-color;

  }

  .information-card {

    border-color: $outline-color;

    .img-container {
      background-color: $black1;
      border-color: $outline-color;
    }

    .icon-container {

      .flag {
        border-color: $outline-color;
      }

      .icon {
        color: $outline-color;
      }
      
    }

    .genre {

      background-color: $white3;
      
    }
  }

  .ant-col {

    img {

      border-color: $outline-color;

    }

  }

}

@mixin dark-base {

  background-color: $black6;
  color: $white0;

  $outline-color: $black1;

  .piccha {

    background-image: url('https://raw.githubusercontent.com/high-otaku/assets/master/background.png');

    .info {

      background-color: rgba($black7, 0.7);

    }

    h1 {
      
      color: $white0;
      
    }

  }

  .navigator {
    
    background-color: rgba($black6, 0.7);

    .menu {

        a {
            color: $white3;
        }
        
    }

    .right-pane {

        .logo {

            background-color: $black6;

        }
    }

  }

  .complete {

    &.false {
      
      color: $black1;

    }
    
  }

  .button, .social-networks .ant-btn {

    background-color: $black4;
    border-color: $outline-color;

  }

  .information-card {

    border-color: $outline-color;

    .img-container {

      background-color: $black4;
      border-color: $outline-color;

    }

    .icon-container {

      .flag {
        border-color: $outline-color;
      }

      .icon {
        color: $outline-color;
      }
    }

    .genre {

      background-color: $black5;

    }
  }

  .ant-col {
    
    img {

      border-color: $outline-color;

    }

  }

}

@mixin horizontal-menu {
  
  ul {
      
      padding-top: 10px;
      
  }

  li {

      // make it a horizontal list
      display: inline; 
      padding-right: 50px;

  }
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include base;
  &.light-theme {

    @include light-base;

  }

  &.dark-theme {

    @include dark-base;

  }

}

@mixin heading {

  color: $color0;
  
}

h1 {

  @include heading;
}

h2 {

  @include heading;

}

h3 {

  @include heading;

}

h4 {

  @include heading;


}

code {
  color: $color1;
}

.clickable {

  cursor: pointer;
  
}

.highlight {

  color: $color1;

  &:hover {

      font-weight: bold;

  }
}