@import 'index';

.navigator {

    height: 150px;
    
    background-color: rgba($white0, 0.7);

    position: relative;

    .menu {

        @include horizontal-menu;
        
        position: absolute;

        bottom: 5px;

        li {
            font-size: 25px;
            font-weight: 900;
            text-transform: uppercase;
        }

        a {
            color: $black8;
            &:hover {
                color: $blue5;
            }
        }
        
    }

    .right-pane {

        position: absolute;
        right: 0;
        
        div {
            display: inline-block;
            padding: 10px;
        }

        .searchbar {

            .ant-input-search {

                width: 20vw;
                // location
                position: absolute;
                bottom: 0px;
                right: 18.5vw;

            }

        }

        .logo {

            font-size: 20px;
            width: 18vw;
            background-color: $white0;

        }
    }
}