@import 'index';

.piccha {

    
    background-image: url('https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    height: 700px;

    position: relative;

    .info {

        background-color: rgba($white0, 0.7);
        padding: 20px;

        // set dimensions
        width: 40%;
        height: 35%;

        // put it at the right bottom corner
        position: absolute;
        bottom: 0;
        right: 2%;

        overflow: hidden;
        text-overflow: ellipsis;

        h1 {
            color: $black8;
        }

    }
}