@import '../../../sass/index';

.information-card {

    margin: 8px;
    padding: 8px;

    border: 2px solid $color0;

    a {
        font-size: 16px;
    }

    table {
        margin: 5px;
    }
    
    td {
        padding-right: 20px;
    }
    
    p {
        padding: 5px;
        text-align: justify;
    }

    img {
        float: left;
        padding: 10px;
    }

    .nested {
        display: flex;
    }

}

.translators {
    color: $color1;
}

.editors {
    color: $color2;
}