@import '../../../sass/index';

.information-card {

    margin: 8px;
    padding: 8px;

    border: 2px solid $color0;
    min-height: 300px;

    a {
        font-size: 16px;
    }

    table {
        margin: 5px;
    }
    
    td {
        padding-right: 20px;
    }
    
    p {
        padding: 5px;
        text-align: justify;
    }

    .img-container {

        float: left;
        margin: 10px;

        width: 225px;
        height: 225px;

        background-color: $black1;
        border-radius: 60px;

}

}

.translators {
    color: $color1;
}

.editors {
    color: $color1;
}