@import '../../../sass/index';

.information-card {

    margin: 8px;
    padding: 8px;

    border: 2px solid $black3;
    min-height: 300px;

    a {
        font-size: 16px;
    }

    table {
        margin: 5px;
    }
    
    td {
        padding-right: 20px;
    }
    
    p {
        padding: 5px;
        text-align: justify;
    }

    .img-container {

        float: left;
        margin: 10px;

        width: 225px;
        height: 225px;

        background-color: $black1;
        border: 2px solid $black3;
        border-radius: 60px;

        img {
            border-color: transparent
        }

    }

}

.lang {
    float: left;
    margin: 5px;
}

.flag {

    float: left;
    margin-right: 5px;

    height: 20px;
    width: 30px;

    border-radius: 5px;
    border: 2px solid $black3;
}

.icon {

    margin-right: 5px;

    font-size: 22px;
    color: $black3;
    
}

.translators {
    color: $color1;
}

.editors {
    color: $color1;
}