@import '../../../../sass/index';

img {

    display: block;
    border: 1px solid;

    .ant-col &{

        height: 350px;

    }

}

.thumbnail {

    position: relative;
        
    & img {
        width: 280px;
        height: unset;
    }

}