@import '../../sass/index';
@import "react-awesome-lightbox/build/style.css";

.ant-row {

    padding-left: $left; 
    
}

.main-content {

    .inform-msg {

        padding-bottom: 10px;

        .genre, .query {
            
            text-align: center;
            padding: 5px;
        }

        .clickable {

            &:hover {

                color: $color1;
                border-color: $color1;

            }
        }

        .highlighted {

            font-weight: bold;

        }
    }

}

.the {

    img {

        width: 100%;
        height: 100%;

        filter: grayscale(0.95);
        
        border: 2px solid;

        &:hover {

            filter: unset;

        }
    }

    margin-bottom: 10px;

}

.flatbread {

    text-align: justify;
    // top right bottom left
    padding: 5px 40px 0px $left;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    td {
        padding-right: 40px;
    }

}

.video-listing {

    &:hover {
        color: $color0;
    }

}

.archive-list {
    
    display: table;
    
}