@import '../../sass/index';

.piccha {

    
    background-image: url('https://raw.githubusercontent.com/high-otaku/assets/master/background.png');
    height: 700px;

    margin-bottom: 30px;

    &.collapsed {
        height: 150px;
    }

    position: relative;

    .info {

        background-color: rgba($white0, 0.7);
        padding: 20px;

        // set dimensions
        width: 40%;
        height: 35%;

        // put it at the right bottom corner
        position: absolute;
        bottom: 0;
        right: 2%;

        overflow: hidden;
        text-overflow: ellipsis;

        h1 {
            color: $black8;
        }

    }
}