@import '../../sass/index';

.piccha {

    height: 700px;

    margin-bottom: 30px;

    &.collapsed {
        height: 150px;
    }

    position: relative;

    .info {

        padding: 20px;

        // set dimensions
        width: 40%;
        height: 35%;

        // put it at the right bottom corner
        position: absolute;
        bottom: 0;
        right: 2%;

        overflow: hidden;
        text-overflow: ellipsis;

        h1 {
            text-transform: uppercase;

        }

        span {

            font-size: 18px;

        }

    }
}