@import '../../sass/index';

.ribbon {
    
    @include horizontal-menu;
    background-color: $black6;
    display: flow-root;

    a {

        color: $color0;

    }

    // .ribbon-manga {
        
    // }

    // .ribbon-anime {
        
    // }
}