@import '../../sass/index';

.ant-btn-primary {
    
    background-color: $highGreen0;
    border-color: $highGreen0;

    &:hover {
        background-color: $highGreen0;
        border-color: $highGreen0;
    }

}