@import '../../sass/index.scss';

.social-networks {

    padding: 5px;

    .ant-btn {

        margin-left: 5px;
    
        img {

            float: left;

            display: block;

            margin: 5px;
            height: 20px;
            border: unset;

            filter: grayscale(100%);
        
            &:hover {

                filter: unset;

            }

        }
    }

}