@import '../../sass/index.scss';

.social-networks {

                
    img {
        
        float: left;
        filter: unset;

        display: block;

        margin: 3px;
        height: 30px;
        border: unset;

    }


    .ant-btn {    

        margin-left: 5px;
        height: 40px;
        border-radius: 8px;

    }

    .ant-modal-body {

        padding: 5px;
        position: relative;

        .buttons {

            margin-left: 25%;
        
            .ant-btn {

                background-color: unset;
                border: 1px solid $black0;
            
            }
    
        }

    }




}